@page "/"
@using OrderManagementViewmodels.Prodotti
@inject ApiClientProdotti api;

<div class="table-container">
    <table>
        <thead>
            <tr>
                <th>Nome</th>
                <th>Quantita</th>
                <th>Operazioni</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var prodotto in prodotti)
            {
                <tr id="@prodotto.IdProdotto.ToString()">
                    <td>@prodotto.Nome</td>
                    <td>@prodotto.QuantitaDisponibile</td>
                    <td><button>Compra</button></td>
                </tr>
            }
        </tbody>
    </table>
</div>

@code {
    List<ProdottoViewModel> prodotti = [];

    protected override async Task OnInitializedAsync()
    {
        prodotti = await api.GetAsync<List<ProdottoViewModel>>("/Prodotti");
    }
}