.table-container{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.table-container table{
    font-size: 30px;
    width: 100%;
    text-align: center;
}

table td{
    width: calc(100% / 3);
}