@page "/login"
@using Microsoft.AspNetCore.Components.Authorization;
@using OrderManagementWebFrontend.Authentication;
@inject ApiClientUser api
@inject NavigationManager navigationManager
@inject AuthenticationStateProvider auth;

<div class="form-container">
    <form @onsubmit="EseguiLogin">
        <h1>Login</h1>
        <p>@errore</p>
        <label>Username: <input type="text" required @bind="username"></label>
        <label>Password: <input type="password" required @bind="password"></label>
        <button>Login</button>
    </form>
</div>

@code{
    string errore = "", username = "", password = "";

    public async Task EseguiLogin(){
        try{
            if(auth is CustomAuthStateProvider provider){
                await provider.Login(username, password);
                navigationManager.NavigateTo("/");
            }
        }
        catch(Exception){
            errore = "Credenziali non valide";
        }
    }
}