@inherits LayoutComponentBase
<div class="page">
    <header>
        <div class="header-title"><NavLink href="/"><h1>App E-commerce</h1></NavLink></div>
        <nav class="header-navigation">
            <NavLink href="Login">Login</NavLink>
        </nav>
    </header>
    <main>
        @Body
    </main>
</div>